<html>
    <head>

    </head>
    <form method="POST">
        <table>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="name" value="{{ name }}"/>
                </td>
            </tr>
            {% for step in steps %}
                <li>{{ step.name|e }}</li>
            {% endfor %}
        </table>

        <input type="submit"/>
    </form>
</html>